<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd 
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 加载jdbc配置文件 -->
	<context:property-placeholder  location="classpath:jdbc.properties"/>
	<!--配置连接池  -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="maxActive" value="10"></property>
		<property name="maxIdle" value="5"></property>
	</bean>
	
	
	<!-- 配置myBatis工厂 -->
	<bean name="sessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean" >
		<!-- 配入sqlMapConfig配置文件 -->
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
		<!-- 配入连接池 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置自动扫描实现mapper接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.chaoLiuWangLuo.OASys.mapper"></property>
	</bean>
	<!--配置事务  -->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置注解注入事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置shiro框架 -->
	<!-- <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"> 
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/jsp/login.jsp"></property>登陆页面
		<property name="successUrl" value="/jsp/index.jsp"></property>登陆成功后页面
		<property name="unauthorizedUrl" value="/jsp/unauthorized.jsp"></property>权限不足跳转页面
		指定url级别拦截
		<property name="filterChainDefinitions">
			<value>
				/bootstrap/**=anon
				/css/**=anon
				/easyui/**=anon
				/images/**=anon
				/js/**=anon
				/jsp/**=anon
				/laydate/**=anon
				/plugins/**=anon
				/res/**=anon
		 		/jsp/login.jsp*=anon
				
				/* =authc
			</value>
		</property>
	</bean> -->
	
	<!-- 配置shiro框架的安全管理器 -->
	<!-- <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"></bean> -->
	
</beans>